/* フォント */
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Orbitron:wght@400..900&family=Zen+Antique+Soft&display=swap');

html {
    font-family: "Orbitron", sans-serif;
}

body {
    background-color: #0b132b;
    color: #ffffff;
    margin: 0;
    line-height: 1.6;
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* ヘッダー */
header {
    padding: 15px 0;
    background-color: #1c2541;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.header_menu li {
    margin-left: 40px;
    list-style: none;
}

.header_menu li a {
    color: #ffffff;
    font-weight: 600;
    transition: 0.3s;
    text-decoration: none;
    padding: 10px 15px;
}

.header_menu li a:hover {
    color: #ffb703;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: 0.3s;
}

/* メインセクション */
.section {
    position: relative;
    padding: 180px 0 100px;
    text-align: center;
    overflow: hidden;
}

.section h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    color: #ffb703;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.section p {
    font-size: 20px;
    line-height: 1.5;
    color: #cfcfcf;
    margin-bottom: 30px;
}

.heading {
    font-size: 24px;
    font-weight: 500;
    color: #ffb703;
    margin-bottom: 24px;
    letter-spacing: 1px;
}

/* ボタンスタイル */
.button {
    background-color: #ffb703;
    color: #0b132b;
    padding: 15px 30px;
    border-radius: 50px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.button:hover {
    background-color: #f08700;
    color: #ffffff;
    transition: 0.3s;
}

/* 三角形デザイン */
.triangle {
    background-color: #1c2541;
    width: 100%;
    height: 450px;
    position: absolute;
    top: 0;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    z-index: -1;
}

/* GamePlayセクション */
.Gameplay {
    margin-top: 400px;
    padding-top: 50px;
}

.Gameplay h1 {
    font-size: 48px;
    border-bottom: 2px solid #ffb703;
    margin-bottom: 50px;
    padding-bottom: 10px;
    color: #ffb703;
}

.Gameplay h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.Gameplay p {
    margin-bottom: 80px;
    color: #b0b0b0;
}

.Gameplay img {
    position: absolute;
    right: 0;
    height: 100px;
    opacity: 0.6;
    filter: grayscale(50%);
}

/* その他のスタイル */
.col {
    width: 49%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

